<%= javascript_include_tag "jquery-1.5.2.min" %>
<script type="text/javascript">
function selector(name_id, suggestion_id) {
  $("select#name_"+name_id+" > option[value=\""+suggestion_id+"\"]").attr("selected", "selected");
}
</script>

<h2>List - Teamnames</h2>


<%= form_tag :action => "update_all", :method => "put" %>
<table>
  <% @names.each do |name| %>
    <tr>
      <td><%= name.bookmaker %></td>
      <td><%= name.id %></td>
      <td><%= name %></td>
      <td>=></td>
      <% if name.is_main? %>
        <th><%= name %></th>
        <th></th>
      <% elsif name.mainname %>
        <td><%= name.mainname %></td>
        <td><%= name.mainname.bookmaker %></td>
      <% else %>
        <td><%= collection_select("name", name.id, @mainnames, :id, :name, :include_blank => true) %></td>
        <td><%= check_box_tag("mainname[#{name.id}]") %></td>
      <% end %>
    </tr>
  <% unless (name.is_main? || name.mainname) %>
  <% name_suggestions(name).each do |suggestion| %>
    <tr>
      <td colspan="4"></td>
      <td><a href="#" onClick="selector(<%= name.id %>, <%= suggestion[:id] %>); return false;"><%= suggestion[:name] %></a> (<%= suggestion[:id] %>) - </td>
      <td>(<%= suggestion[:points] %> Punkte)</td>
    </tr>
  <% end %>
  <% end %>
  <% end %>
</table> 
<p><%= submit_tag 'Update' %></p> 
<% form_tag %>
